{% extends "base.html" %}

{% block title %}
    MyQSL
{% endblock %}

{% block css %}
{% endblock %}
{% block bar %}
<div class="search-container">
    <form method="post" class="w-100">
        <div class="input-group">
            <input id="callsign-search" type="text" name="callsign" class="form-control" placeholder="Enter callsign..." required>
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
</div>
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Callsign</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Band</th>
                    <th scope="col">Mode</th>
                    <th scope="col">Freq</th>
                    <th scope="col">RSTS</th>
                    <th scope="col">RSTR</th>
                    <th scope="col">Card Status</th>
                    <th scope="col">QRZ Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for qso in qsolog %}
                <tr>
                    <th scope="row">{{ qso.id }}</th>
                    <td>{{ qso.callsign }}</td>
                    <td>{{ qso.qso_date }}</td>
                    <td>{{ qso.time_on }}</td>
                    <td>{{ qso.band }}</td>
                    <td>{{ qso.mode }}</td>
                    <td>{{ qso.freq }}</td>
                    <td>{{ qso.rsts }}</td>
                    <td>{{ qso.rstr }}</td>
                    <td
                        class="status-cell"
                        data-qso-id="{{ qso.id }}"
                        data-item="QSL"
                        data-active="1"
                    >
                        {{ qso.qsl_status }}
                    </td>
                    <td
                        class="status-cell"
                        data-qso-id="{{ qso.id }}"
                        data-item="QRZ"
                        data-active="1"
                    >
                        {{ qso.qrz_status }}
                    </td>
                    <td>
                        <div>
                            <a href="edit/{{ qso.id }}"><i class="bi bi-pencil-square"></i></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="delete/{{ qso.id }}"><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
{% endblock %}

